nav li {
    display: flex;
    padding: 10px;
    
}

nav ul {
    background-color: #B71C1C;
    display: flex;
    justify-content: center;
    align-items: center; 
    
}

nav a {
    color: white;
    text-decoration: none;
}