table, thead, th {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    width: 50%;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 80%;
  table-layout: fixed;
  margin: 0 auto;
}

td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}



.english-middle {
    background-color: rgb(178, 245, 245);
    text-align: center; 
}
.middle {
    text-align: center;
}

span {
    color: #B71C1C;
}